<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    @for (object of objects(); track $index) {
      @switch (object.t) {
        @case ("Objlist") {
          <app-list-view [objList]="object" />
        }
        @case ("Form") {
          <app-form-view [objForm]="object" />
        }
        @default {
          <h1>New View</h1>
        }
      }
    }
  </ion-content>
</ion-content>
