<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ menu()?.t }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    @for (submenu of menu()?.subMenus; track $index) {
    <ion-row>
      <ion-col>
        <ion-button (dblclick)="navigateToTask(submenu)" size="large" expand="block" color="primary">
          {{ submenu?.name }}
        </ion-button>
      </ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-content>
